<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello Drone</title>
        <script src="lib/angular.min.js"></script>
		<script src="viewer.js"></script>
	</head>
	<body ng-app="droneUI" ng-controller="DroneClientCtrl">
		<div>
			<img src="image.png" id="imageOriginal">
            <img src="original.png" id="imageProcessed">
		</div>

        <div>
            <button ng-click="droneControl('takeoff')">Take off</button>
            <button ng-click="droneControl('land')">Land</button>
            <button ng-click="droneControl('stop')">Stop</button>
            <button ng-click="droneControl('closewise')">Rotate</button>
            <button ng-click="droneControl('up');">&uarr;</button>
            <button ng-click="droneControl('down');">&darr;</button>
            <button ng-click="droneControl('left');">&larr;</button>
            <button ng-click="droneControl('right');">&rarr;</button>
            <button ng-click="droneControl('front');">Front</button>
            <button ng-click="droneControl('back');">Back</button>
        </div>

        <div>
            <button ng-click="droneControl('cloud')">Cloud Demo</button>
            <button ng-click="droneControl('square')">Sqaure</button>
        </div>

        <div>Direction: {{feedbackDirection}}</div>
	</body>
</html>